.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;;


}

.correct {
    font-size: 2rem;
    color: green;
}

.wrong {
    font-size: 2rem;
    color: red;
}