.container {
    border-radius: .8rem;
    display: flex;
    width: 90vw;
    height: 70vh;


// background-color: #a6b6e2;
// background-color: #546ec0;
// background-color: #bbc8e9;
background-color: #b7c3fe;
}
